<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>

    <body class="light-bg">
        

        <div class="main-area">

            <div class="header-area">
                <div class="searchbar">
                    <input type="text" name="" id="">
                </div>
            </div>





            <div class="bigBox-area">
                <div class="menu-area">
                    <div class="menu-warp">
                        <div class="share-icon">
                            <ul>
                                <li><a href=""><img src="assets/img/share.svg" alt=""></a></li>
                                <li><a href=""><img src="assets/img/share.svg" alt=""></a></li>
                                <li><a href=""><img src="assets/img/share.svg" alt=""></a></li>
                            </ul>
                        </div>
                        <ul>
                            <li><a href=""><img src="assets/img/angle-right-dark.svg" alt=""></a></li> 
                            <li><a href=""><img src="assets/img/angle-right-dark.svg" alt=""></a></li> 
                            <li><a href=""><img src="assets/img/angle-right-dark.svg" alt=""></a></li> 
                            <li><a href=""><img src="assets/img/angle-right-dark.svg" alt=""></a></li> 
                            <li><a href=""><img src="assets/img/angle-right-dark.svg" alt=""></a></li> 
                        </ul>
                    </div>
                </div>
                <div class="box-card-one">
                    <a class="cursor-point-2" href="#"><img src="assets/img/cr-2.png" alt=""></a>
                </div>
            </div>


            <div class="boxareaTwo">
                <div class="small-box-left">
                    <div class="card-warp">

                    </div>
                </div>
                <div class="small-box-right">
                    <div class="card-warp">
                        
                    </div>
                </div>
            </div>










        </div>

















    </body>

</html>