<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>

    <body class="light-bg">
        

        <div class="main-area">

            <div class="header-area">
                <div class="header-left">
                    <ul>
                        <li><a href="">Model</a></li>
                        <li><a href="">Dataset</a></li>
                        <li><a href="">Training</a></li>
                        <li><a href="">Testing</a></li>
                        <li><a href="">Tuning</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <a href="">Training</a>
                </div>
            </div>





            <div class="bigBox-4-area">
                <div class="boxleft-4">
                    <div class="menu-area">
                        <ul>
                            <li><a href=""><img src="assets/img/angle-right-dark.svg" alt=""></a></li> 
                            <li><a href=""><img src="assets/img/angle-right-dark.svg" alt=""></a></li> 
                            <li><a href=""><img src="assets/img/angle-right-dark.svg" alt=""></a></li> 
                            <li><a href=""><img src="assets/img/angle-right-dark.svg" alt=""></a></li> 
                            <li><a href=""><img src="assets/img/angle-right-dark.svg" alt=""></a></li> 
                        </ul>
                    </div>
                    <div class="status-box">
                        <h4>Status:</h4>
                        <button><img src="assets/img/save.svg" alt=""> Save</button>
                    </div>
                </div>
                <div class="boxright-4">
                    <div class="max-box">

                    </div>
                </div>
            </div>



        </div>

















    </body>

</html>